@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html,
  body,
  #root {
    @apply relative h-full;
  }

  .Photo {
    @apply relative block bg-neutral-900/50;
  }

  .Photo .img {
    @apply transition-opacity duration-2000;
  }

  .no-scroll {
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
  }
}
