@tailwind base;
@tailwind components;
@tailwind utilities;

.masonry {
  @apply grid gap-3;
  grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
  grid-auto-rows: 40px;
}

.col--0x {
  grid-row-end: span 4;
}
.col--1x {
  grid-row-end: span 5;
}
.col--2x {
  grid-row-end: span 6;
}
.col--3x {
  grid-row-end: span 7;
}
.col--4x {
  grid-row-end: span 8;
}
.col--5x {
  grid-row-end: span 9;
}
.col--6x {
  grid-row-end: span 10;
}
.col--7x {
  grid-row-end: span 11;
}
.col--8x {
  grid-row-end: span 12;
}
.col--9x {
  grid-row-end: span 12;
}

html,
body,
#root {
  @apply h-full;
}

body {
  @apply bg-slate-900 text-slate-500;
}

.Logo {
  font-family: 'Krona One', sans-serif;
}

.loading {
  @apply rounded-full
  w-8 h-8
  relative
  bg-sky-900
  mix-blend-exclusion;
}

.loading:before,
.loading:after {
  @apply content-['']
	absolute
  inset-0
  z-0
  rounded-full
  bg-pink-500
  mix-blend-screen;
}

.loading:after {
  @apply bg-sky-400 animate-wiggle-l;
}

.loading:before {
  @apply animate-wiggle-r;
}

.Photos {
  @apply h-full;
}

.modal-is-open body {
  @apply overflow-hidden;
}

.aspect-attr {
  aspect-ratio: attr(width) / attr(height);
}
